.container{
    display: flex;
    height: 35px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
}

ul{
    list-style: none;
    animation: cambiar 8s infinite;
}

@keyframes cambiar{
    0%{margin-top: 0;}
    20%{margin-top: 0;}

    25%{margin-top: -35px;}
    50%{margin-top: -35px;}

    55%{margin-top: -70px;}
    80%{margin-top: -70px;}

    85%{margin-top: -35px;}
    95%{margin-top: -35px;}

    100%{margin-top: 0;}
    
}


