*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    min-width: 320px;
}

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #17171C ;
    /*background-color: #0F1711;*/
}

.header{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 5px 0;
    position: sticky;
    top: 0px;
    background-color: #17171C;
    border-bottom: 3px solid #0D7504;
    
    /*background-color: #0F1711;*/
}

.profile{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #0D7504 ;
}

/* .profile-greetings{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px ;
    padding-bottom: 30px;
    border-bottom: 5px solid #0D7504;
    word-break: break-all;
} */

/* .profile-greetings p:nth-child(1){
    color: white;
    font-size: 3rem;
    font-weight: bold; 
}

.profile-greetings span:nth-child(2){
    color: aliceblue;
    font-size: 3rem;
    font-weight:bold;
} */

.menuNav{
    margin-top: 15px;
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuNav div {
    width: 40px;
    height: 4px;
    background-color :#0B6104;
    margin-bottom: 5px;
    border-radius: 5px;
}

.toggle-nav{
    display: none;
}

.menuNav-list{
    position: absolute;
    top: 63px;
    right: 0;
    width: 45%;
    border-bottom: 3px solid #0D7504 ;
    border-left: 3px solid #0D7504 ;
    background-color: #17171C; ;
}
nav{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

nav a:nth-child(1){
    display: inline-block;
    padding: 4px;
    /*background-color: #0B6104 ;*/
    color: aliceblue;
    border-radius: 18px;
    font-size: 2.5rem;
    font-weight:bold;
    text-decoration: none;
}

nav a:nth-child(2){
    display: inline-block;
    padding: 4px;
    /*background-color:#0B6104 ;*/
    border-radius: 18px;
    color: aliceblue;
    font-size: 2.5rem;
    font-weight:bold;
    margin-top: 20px;
    text-decoration: none;
}

nav a:nth-child(3){
    display: inline-block;
    padding: 4px;
    /*background-color:#0B6104 ;*/
    border-radius: 18px;
    color: aliceblue;
    font-size: 2.5rem;
    font-weight:bold;
    margin-top: 20px;
    text-decoration: none;
}

/* nav a:nth-child(4){
    display: inline-block;
    padding: 4px;
    background-color:#0B6104 ;
    border-radius: 18px;
    color: aliceblue;
    font-size: 2.5rem;
    font-weight:bold;
    margin-top: 20px;
    text-decoration: none;
}
 */
nav a:hover{
    color: #0D7504;
}

.toggle-picture{
    display: none;
}

.picture-container{
    position: absolute;
    margin: auto;
    width: 300px;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
    border-radius: 8px;
}

.picture-container a{
    text-decoration: none;
}
.picture-container span{
    position: relative;
    right: -260px;
    top: -215px;
    color: white;
    font-size: 3rem;
}

.picture-container img{
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

@media (min-width:769px){
    header{
        flex-direction: row;
        justify-content:space-between; 
        border-bottom: 3px solid #0D7504; 
    }

    .profile{
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
    }

    .profile-img{
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        border-radius: 50%;
        object-fit: cover;
        border: none ;
    }

    .profile-greetings{
        margin-top: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    nav{
        display: flex;
        width: 40%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }

    nav a:nth-child(1){
        padding: 0;
        background-color: #17171C;
        margin-right: 20px;
    }

    nav a:nth-child(2){
        background-color: #17171C;
        margin-top: 0;
        margin-right: 20px;
    }

    nav a:nth-child(3){
        background-color: #17171C;
        margin-top: 0;
        margin-right: 20px;
    }

    nav a:nth-child(4){
        background-color: #17171C;
        margin-top: 0;
        margin-right: 20px;
    }
}
