*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    min-width: 320px;
}

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #17171C ;
    /*background-color: #0F1711;*/
}

.header{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 5px 0;
    position: sticky;
    top: 0px;
    background-color: #17171C;
    border-bottom: 3px solid #0D7504;
    
    /*background-color: #0F1711;*/
}

.profile{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #0D7504 ;
}

.header-icon-container{
    width: 60%;
}

.header-icon-container div{
    width: 100%;
    padding: 10px;
}

.header-icon-container div a{
    margin: auto;
}

.menuNav{
    margin-top: 15px;
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuNav div {
    width: 40px;
    height: 4px;
    background-color :#0B6104;
    margin-bottom: 5px;
    border-radius: 5px;
}

.toggle-nav{
    display: none;
}

.menuNav-list{
    position: absolute;
    top: 65px;
    right: 0;
    width: 45%;
    border-bottom: 3px solid #0D7504 ;
    border-left: 3px solid #0D7504 ;
    background-color: #17171C; ;
}
nav{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

nav a:nth-child(1){
    display: inline-block;
    color: aliceblue;
    border-radius: 18px;
    font-size: 2.5rem;
    font-weight:bold;
    margin-top: 20px;
    text-decoration: none;
}

nav a:nth-child(2){
    display: inline-block;
    border-radius: 18px;
    color: aliceblue;
    font-size: 2.5rem;
    font-weight:bold;
    margin-top: 20px;
    text-decoration: none;
}

nav a:nth-child(3){
    display: inline-block;
    border-radius: 18px;
    color: aliceblue;
    font-size: 2.5rem;
    font-weight:bold;
    margin-top: 20px;
    text-decoration: none;
}


nav a:hover{
    color: #0D7504;
}

.toggle-picture{
    display: none;
}

.picture-container{
    position: absolute;
    margin: auto;
    width: 300px;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
    border-radius: 8px;
}

.picture-container a{
    text-decoration: none;
}
.picture-container span{
    position: relative;
    right: -260px;
    top: -215px;
    color: white;
    font-size: 3rem;
}

.picture-container img{
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

@media (min-width:769px){

    .header-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 3px solid #0B6104;
    }

    .header{
        width: 50%;
        border-bottom: none;
    }

    .menuNav{
        display: none;
    }

    .toggle-nav{
        display: flex;
        width: 40%;
    }

    .menuNav-list{
        width: 100%;
        position: static;
        border-bottom: none ;
        border-left: none;
        background-color:mone;
        
    }
    nav{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
    }

    nav a{
        margin: auto;
        
    }


  

}
